@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

body {
 background-color: hsl(0, 0%, 95%);
 min-height: 100vh;
 display: flex;
 align-items: center;
 font-size: 15px;
 font-family: "Lexend Deca", sans-serif;
}
.container {
 max-width: 960px;
 margin: 0 auto;
}

.wrapper {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 border-radius: 15px;
 margin: 2rem;
 overflow: hidden;
}

.sedan {
 background-color: hsl(31, 77%, 52%);
}

.suv {
 background-color: hsl(184, 100%, 22%);
}

.luxury {
 background-color: hsl(179, 100%, 13%);
}

.card {
 padding: 40px;
}

.card h2 {
 font-family: "Big Shoulders Display", sans-serif;
 font-size: 50px;
 color: hsl(0, 0%, 95%);
}

.card p {
 color: hsla(0, 0%, 100%, 0.75);
 line-height: 1.5;
}

.card a {
 text-decoration: none;
 background-color: hsl(0, 0%, 95%);
 border: 3px solid hsl(0, 0%, 95%);
 padding: 15px 35px;
 border-radius: 50px;
 transition: all 0.25s ease-in-out;
 margin-top: 55px;
 display: inline-block;
}

.card.sedan a {
 color: hsl(31, 77%, 52%);
}

.card.suv a {
 color: hsl(184, 100%, 22%);
}

.card.luxury a {
 color: hsl(179, 100%, 13%);
}

.card a:hover {
 background-color: transparent;
 color: hsl(0, 0%, 95%);
}

.attribution {
 font-size: 11px;
 color: #000;
 text-align: center;
 margin-bottom: 15px;
}

.attribution a {
 color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
 .wrapper {
  grid-template-columns: 1fr;
 }
}
